@(productForm: Form[Product])
@import helper._
@import helper.twitterBootstrap._
@main("Product form") {
<h1>Product form</h1>
@helper.form(action = routes.Products.save(),'enctype -> "multipart/form-data") {
<fieldset>
    <legend>Product (@productForm("name").valueOr("New"))</legend>
    @helper.inputText(productForm("ean"))
    @helper.inputText(productForm("name"))
    @helper.textarea(productForm("description"))
    @helper.inputFile(productForm("picture"))
    @if(!productForm("picture").valueOr("").isEmpty()) {
    <div class="control-group">
        <div class="controls">
            <img style="position:relative; left:50px;height:80px" src="/picture/@productForm("ean").value"/>
        </div>
    </div>
    }
</fieldset>
<input type="submit" class="btn btn-primary">
}
}